# Python specific
__pycache__/
*.pyc
*.log

# Environment files (VERY IMPORTANT!)
.env
venv/
env/
warnings.json
modlog_settings.json
blacklists.json
confession_channels.json

# Operating System specific
.DS_Store # macOS
Thumbs.db # Windows