# Python specific
__pycache__/
*.pyc
*.log

# Environment files (VERY IMPORTANT!)
.env
.venv/
venv/
env/
warnings.json
modlog_settings.json
blacklists.json
confession_channels.json

# Operating System specific
# macOS
.DS_Store
# Windows
Thumbs.db
